body, html {
}

.intro {
}

.intro h1 {
  text-align: center;
  font-family: serif;
  font-style: italic;
}

nav {
  border-bottom: 0.1vw solid black;
  padding: 0.25vw;
}

nav ul {
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li a {
  color: inherit;
  padding: 0.5vw;
  border-radius: 0.5vw;
  text-decoration: none;
}

nav li a:hover {
  background-color: lightgray;
}
