body, html {
}

.page-container {
}

.title-container h1 {
  text-align: center;
  font-family: "Escrow";
  font-style: italic;
  font-size: 5em;

}

nav {
  border-bottom: 0.1vw solid black;
  padding: 0.25vw;
  margin-top:1%;
  margin-bottom: 1%;
}

nav ul {
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li a {
  color: inherit;
  padding: 0.5vw;
  border-radius: 0.5vw;
  text-decoration: none;
}

nav li a:hover {
  background-color: lightgray;
}

.trending-news-title {
  max-width: 20%;
  float: left;
  border-right: 0.1vw solid black;
  padding-right: 0.2vw;
}

.trending-news-marquee {
  overflow: hidden;
  border-right: 0.1vw solid black;
}

.trending-news-title, .trending-news-marquee {
  margin-bottom: 1%;
}

.trending-news-marquee ul, .trending-news-marquee li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.trending-news-marquee li:after {
  content: " | ";
}


.ym-column {
  margin: 0 auto;
  max-width: 65%;

}

.ym-col1 {
  width: 74% !important;
}

.ym-col1 button {
  width: 100%;
  height: 3vw
}

.ym-col2 {
  width: 25% !important;
}

.category-container {
  border-bottom: 0.1vw solid black;
  margin-bottom: 2%;
  max-height: 25em;
}

.news-box-left, .news-box-center, .news-box-right {
  width: 30%;
  display: inline-block;


}

.news-box-left, .news-box-center {
  margin-right: 4%;
}

.news-box {
  display: inline-block;
  background-color: #F2F2F2;
  margin-bottom: 15%;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 25em;
  min-height: 25em;
  line-height: 1.8em;
  /*max-width: 100%;
  white-space: nowrap;*/

}

.news-box h3, .news-box p {
  padding: 0 3% 0 3%;


}

.news-box p {
  padding-bottom: 20%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-box img {
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.news-box:hover {
  opacity: 0.8;
}

.latest-news-container {
  margin-top: 9.04%;
}

.latest-news-marquee {
  height: 30vw;
  border: 0.1vw solid black;
  overflow: hidden;
}

footer{
  width:100%;
  background-color:#F2F2F2;
  text-align: center;
}
